<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Excelsior Tech</title>


  <!-- CSS  -->
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--   <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="shortcut icon" href="{% static 'images/favicon (8).ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon (8).ico' %}" type="image/x-icon">
</head>
<body>
<div id="navbar" class="navbar scrollspy">
  <nav  class="white">
    <div class="nav-wrapper container">
    	<div class="container"> <a href="#navbar" class="brand-logo black-text">Excelsior Technologies</a></div>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">

        <li><a class="head-link" href="#projects">Projeto</a></li>
         <li><a class="head-link" href="#abouts">Sobre nós</a></li>
        <li><a class="head-link" href="#contacts">Contato</a></li>

      </ul>
      <ul class="right side-nav" id="mobile-demo">
      	<li><a class="head-link" href="#projects">Projeto</a></li>
         <li><a class="head-link" href="#aboutus">Sobre nós</a></li>

        <li><a class="head-link" href="#contactus">Contato</a></li>
      </ul>
    </div>
  </nav>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text">Supermercado Inteligente</h1>
        <div class="row center">
          <h5 class="header col s12 black-text">Uma forma inovadora de comprar no supermercado! <br> Sem caixas e filas apenas você</h5>
        </div>
        <div class="row center">
          <a href="#work" class="btn-large waves-effect waves-light blue lighten-1">Saiba mais</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/imagem6.png' %}" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container" id="projects">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="material-icons medium">new_releases</i></h2>
            <h5 class="center">Automação de vendas</h5>

            <p class="light">Novo formato de vendas possibilitando que os clientes comprem mais a partir da tecnologia sem desperdiçar tempo com o formato de venda tradicional.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="material-icons medium">insert_chart</i></h2>
            <h5 class="center">Controle de vendas</h5>

            <p class="light">Tenha maior controle das vendas através de dados monitorados, observando informações importantes que os clientes geram nas compras. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="material-icons medium">payment</i></h2>
            <h5 class="center">Métodos de pagamento</h5>
            <p class="light">Os clientes terão novas formas de pagar os produtos sem passar num caixa, agilizando o processo de vendas e adquirindo mais segurança. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12" style="color: white; font-size: 40px;">Automatize seu sistema de vendas e alcance mais lucros.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/dream-infrared-meadow-2220-824x550.jpg' %}" alt="img"></div>
  </div>

  <div class="container section scrollspy" id="projects">
    <div class="section">
    	<br>
    	<br>
      <h4 id="work" class="center">Nosso Projeto</h4>
      <br>
      <div class="row">
      	<div class="col s6">
      	<img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="{% static 'images/blur-flowers-nature-471-827x550.jpg' %}">
      	</div>
      	<div class="col s6">
      	<img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="{% static 'images/1415117217bc45x.jpg' %}">
      	</div>
      </div><!--row-->

       <div class="row">
      	<div class="col s6">
      	<img class="materialboxed responsive-img" data-caption="Description about the work or project" src="{% static 'images/1397154567yttyy.jpg' %}">
      	</div>
      	<div class="col s6">
      	<img class="materialboxed responsive-img" data-caption="Description about the work or project" src="{% static 'images/1399827845b0i1k.jpg' %}">
      	</div>
      </div><!--row-->

      <div class="center">
      	<a href="#modal1" class="waves-effect btn modal-trigger waves-light purple lighten-1">Ver Canvas</a>
      </div>

    </div>
  </div>


   <div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="center row col s3">

        	<h3 class="white-text">Nossa equipe</h3>
       </div>
        <div class="center row col s12">
          <!---->
          <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <button class="btn waves-effect waves-light red lighten-2 ">Matheus Leite</button>
            <h2 class="center"><img class="circle responsive-img" src="{% static 'images/profile1.jpg' %}" width="50%"></h2>
            <a href="#modal2" class="waves-effect btn modal-trigger waves-light blue lighten-2" style="color: white">VER PERFIL</a>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <button class="btn waves-effect waves-light red lighten-2 ">Gabriel Andrade</button>
            <h2 class="center"><img class="circle responsive-img" src="{% static 'images/profile2.jpg' %}" width="50%"></h2>
            <a href="#modal3" class="waves-effect btn modal-trigger waves-light blue lighten-2" style="color: white">VER PERFIL</a>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <button class="btn waves-effect waves-light red lighten-2 ">Arthur Vasconcellos</button>
            <h2 class="center"><img class="circle responsive-img" src="{% static 'images/profile3.png' %}" width="50%"></h2>
            <a href="#modal4" class="waves-effect btn modal-trigger waves-light blue lighten-2" style="color: white">VER PERFIL</a>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <button class="btn waves-effect waves-light red lighten-2 ">Cláudio Bessa</button>
            <h2 class="center"><img class="circle responsive-img" src="{% static 'images/profile4.jpg' %}" width="50%"></h2>
            <a href="#modal5" class="waves-effect btn modal-trigger waves-light blue lighten-2" style="color: white">VER PERFIL</a>
          </div>
        </div>
      </div>
          <!---->
       </div>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/imagem7.jpg' %}" alt="img"></div>
  </div>



<div class="container section scrollspy" id="contactus">
	<div class="section">
		<br>
	<br>
	<h2>Entre em contato</h2>

<div class="row">

  <form method="POST" class="col s8">{% csrf_token %}

    <div class="row">
      <div class="input-field col s6">
        <input id="name" name="name" maxlength="50" type="text" class="validate">
        <label for="{{form.name.id_for_label}}">Nome completo</label>
      </div>


      <div class="input-field col s6">
        <input id="email" name="email" maxlength="40" type="email" class="validate">
        <label for="{{form.email.id_for_label}}">Email</label>
      </div>
    </div><!--row-->

     <div class="row">
      <div class="input-field col s12">
        <input id="title" name="title" maxlength="30" type="text" class="validate">
        <label for="{{form.title.id_for_label}}">Título da mensagem</label>
      </div>
    </div>

     <div class="row">
      <div class="input-field col s12">
  <!--           <textarea name="message" required id="id_message" rows="10" cols="40">
</textarea> -->
         <textarea id="message" name="message" required maxlength="500" class="materialize-textarea"></textarea>
        <label for="{{form.message.id_for_label}}">Mensagem</label>
      </div>
    </div>


      <div>
      	<button type="submit" class="waves-effect waves-light btn purple lighten-1">Enviar mensagem<i class="mdi-content-send right"></i></button>
      </div>
     </form>

      <div class="col s12 m4">
                    <p>
                       Sigam-nos nas redes sociais e fique por dentro de todas as notícias da Excelsior Tech =D
                    </p>
                   <ul class="share-buttons">
	<li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="{% static 'images/flat_web_icon_set/inverted/Facebook.png' %}"></a></li>
	<li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="{% static 'images/flat_web_icon_set/inverted/Twitter.png' %}"></a></li>
	<li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="{% static 'images/flat_web_icon_set/inverted/GooglePlus.png' %}"></a></li>
</ul>
</div>


</div>
	</div>
</div>


  <footer class="page-footer purple lighten-1">

    <div class="footer-copyright">
      <div class="container">
       <p>Copyright © Excelsior Technologies</p>
      </div>
    </div>
  </footer>

<!-- Modal Structure -->
<div id="modal1" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h4 class="card-title white-text darken-1"><i class="material-icons">announcement</i>  Mensagem do sistema!</h4>
    <p>Colocar Imagem do canvas aqui</p>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> FECHAR</a>
    </div>
  </div>
</div>
<!-- Modal Structure Matheus-->
<div id="modal2" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h5>Nome: Matheus Leite</h5>
    <img src="{% static 'images\profile1.jpg' %}" width="20%" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    <h5>Matrícula: 1720020805</h5>
    <h5>Curso: Ciência da Computação</h5>
    <h5>Email: matheusjoselfm@gmail.com</h5>
    <h5>Telefone: (83) 993718506</h5>
    <h5>Linkedin: <a href="https://www.linkedin.com/in/matheus-jose-leite/" style="color: white;">Clique aqui</a></h5>
    <h5>Função: Desenvolvedor Web</h5>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> FECHAR</a>
    </div>
  </div>
</div>

<!-- Modal Structure Gabriel-->
<div id="modal3" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h5>Nome: Gabriel Andrade</h5>
    <img src="{% static 'images\profile2.jpg' %}" width="20%" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    <h5>Matrícula: 1810021814</h5>
    <h5>Curso: Ciência da Computação</h5>
    <h5>Email: gabrielcandrade01@gmail.com</h5>
    <h5>Telefone: (83) 999903160</h5>
    <h5>Linkedin: <a href="https://www.linkedin.com/in/gabrielcandradecg/" style="color: white;">Clique aqui</a></h5>
    <h5>Função: Desenvolvedor Full-stack</h5>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> FECHAR</a>
    </div>
  </div>
</div>

<!-- Modal Structure Arthur-->
<div id="modal4" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h5>Nome: Arthur Vasconcellos</h5>
    <img src="{% static 'images\profile3.png' %}" width="20%" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    <h5>Matrícula: 1620016556</h5>
    <h5>Curso: Ciência da Computação</h5>
    <h5>Email: contatoarthursilveira@gmail.com</h5>
    <h5>Telefone: (83) 999080301</h5>
    <h5>Linkedin: <a href="https://www.linkedin.com/in/arthurvasconcellospb/" style="color: white;">Clique aqui</a></h5>
    <h5>Função: Front-end developer</h5>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> FECHAR</a>
    </div>
  </div>
</div>

<!-- Modal Structure Claudio-->
<div id="modal5" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h5>Nome: Cláudio Bessa</h5>
    <img src="{% static 'images\profile4.jpg' %}" width="20%" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    <h5>Matrícula: 1810022607</h5>
    <h5>Curso: Ciência da Computação</h5>
    <h5>Email: claudiobmontenegro@gmail.com</h5>
    <h5>Telefone: (83) 996540306</h5>
    <h5>Linkedin: <a href="https://www.linkedin.com/in/cláudio-bessa-montenegro-48a153162/" style="color: white;">Clique aqui</a></h5>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> FECHAR</a>
    </div>
  </div>
</div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--   <script src="{% static 'js/materialize.js' %}"></script>
 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <script src="{% static 'js/init.js' %}"></script>
  <script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
    $('.button-collapse').sideNav();

  });
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  // $('#modal1').modal('open');
  });


  </script>
  <script>
  	    $('.head-link').click(function(e) {
        e.preventDefault();

        var goto = $(this).attr('href');

        $('html, body').animate({
            scrollTop: $(goto).offset().top
        }, 800);
    });

  </script>

			 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60673008-2', 'auto');
  ga('send', 'pageview');
</script>
  </body>
</html>
